<%= stylesheet_link_tag "/assets/core/main.css" %>
<%= stylesheet_link_tag "/assets/daygrid/main.css" %>
<%= stylesheet_link_tag "/assets/list/main.css" %>
<%= stylesheet_link_tag "/assets/timegrid/main.css" %>

<section class="section">
  <div class="container m-t-20">
    <div id="calendar">

    </div>
  </div>
</section>
<style>
.fc-past {
  background-color: #bfbfbf;
}
</style>

<script type="text/javascript">
    ev = <%= raw @events.to_json %>
    console.log(ev)

    function showEvents(ev){
      return ev.map(function(o){
      
        stime = window.moment(o.start_time).utc().format('hh:mm:ss')
        eTime = window.moment(o.start_time).add(50,'minutes').utc().format('hh:mm')
      // console.log(o.start_time.split('T')[1].substring(0,8))
      // console.log(window.moment(o.start_time).isValid())
        return{
          startRecur: new Date(),
          daysOfWeek: [o.day_of_week],
          startTime: stime,
          endTime: eTime,
          title:  'Available',
          color: 'green'
         }
      })
    }
    console.log(showEvents(ev))
    $(function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new Calendar(calendarEl, {
            
            
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,listMonth'
            },

                    plugins: [DayGridPlugin, ListPlugin,TimeGridPlugin],
            events:  showEvents(ev) ,
            defaultView: 'dayGridMonth'
        });

         calendar.render();
    })
</script>