<section class="section">
    <div class="container">
        <p class="title">Fill Availability</p>

         <table class="table is-fullwidth">
            <thead>
                <tr>
                    <td>Sunday</td>
                    <td>Monday</td>
                    <td>Tuesday</td>
                    <td>Wednesday</td>
                    <td>Thurday</td>
                    <td>Friday</td>
                    <td>Saturday</td>
                </tr>
            </thead>
            <tbody>
            <%= form_for (@availability) do |f|%>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true, :checked=>false  }, '0,08:00',nil%>07:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,08:00',nil%>08:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,08:00',nil%>08:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,08:00',nil%>08:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,08:00',nil%>08:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,08:00',nil%>08:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,08:00',nil%>08:00 AM</label></td>
                    </tr>
                     <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,09:00',nil%>09:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,09:00',nil%>09:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,09:00',nil%>09:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,09:00',nil%>09:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,09:00',nil%>09:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,09:00',nil%>09:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,09:00',nil%>09:00 AM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,10:00',nil%>10:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,10:00',nil%>10:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,10:00',nil%>10:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,10:00',nil%>10:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,10:00',nil%>10:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,10:00',nil%>10:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,10:00',nil%>10:00 AM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,11:00',nil%>11:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,11:00',nil%>11:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,11:00',nil%>11:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,11:00',nil%>11:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,11:00',nil%>11:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,11:00',nil%>11:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,11:00',nil%>11:00 AM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,12:00',nil%>12:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,12:00',nil%>12:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,12:00',nil%>12:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,12:00',nil%>12:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,12:00',nil%>12:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,12:00',nil%>12:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,12:00',nil%>12:00 AM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,13:00',nil%>13:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,13:00',nil%>13:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,13:00',nil%>13:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,13:00',nil%>13:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,13:00',nil%>13:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,13:00',nil%>13:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,13:00',nil%>13:00 PM</label></td>
                    </tr>
                    <tr>
                        <td colspan=7><hr class="navbar-divider"></tr>
                    </tr>
                   <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,14:00',nil%>14:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,14:00',nil%>14:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,14:00',nil%>14:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,14:00',nil%>14:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,14:00',nil%>14:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,14:00',nil%>14:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,14:00',nil%>14:00 PM</label></td>
                    </tr>
                     <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,15:00',nil%>15:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,15:00',nil%>15:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,15:00',nil%>15:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,15:00',nil%>15:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,15:00',nil%>15:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,15:00',nil%>15:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,15:00',nil%>15:00 PM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,16:00',nil%>16:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,16:00',nil%>16:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,16:00',nil%>16:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,16:00',nil%>16:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,16:00',nil%>16:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,16:00',nil%>16:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,16:00',nil%>16:00 PM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,17:00',nil%>17:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,17:00',nil%>17:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,17:00',nil%>17:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,17:00',nil%>17:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,17:00',nil%>17:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,17:00',nil%>17:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,17:00',nil%>17:00 PM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,18:00',nil%>18:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,18:00',nil%>18:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,18:00',nil%>18:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,18:00',nil%>18:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,18:00',nil%>18:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,18:00',nil%>18:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,18:00',nil%>18:00 PM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,19:00',nil%>19:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,19:00',nil%>19:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,19:00',nil%>19:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,19:00',nil%>19:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,19:00',nil%>19:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,19:00',nil%>19:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,19:00',nil%>19:00 PM</label></td>
                    </tr>
                    <tr>
                        <td colspan=7><hr class="navbar-divider"></tr>
                    </tr>    
 <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,20:00',nil%>20:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,20:00',nil%>20:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,20:00',nil%>20:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,20:00',nil%>20:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,20:00',nil%>20:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,20:00',nil%>20:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,20:00',nil%>20:00 PM</label></td>
                    </tr>
                     <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,21:00',nil%>21:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,21:00',nil%>21:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,21:00',nil%>21:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,21:00',nil%>21:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,21:00',nil%>21:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,21:00',nil%>21:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,21:00',nil%>21:00 PM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,22:00',nil%>22:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,22:00',nil%>22:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,22:00',nil%>22:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,22:00',nil%>22:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,22:00',nil%>22:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,22:00',nil%>22:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,22:00',nil%>22:00 PM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,23:00',nil%>23:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,23:00',nil%>23:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,23:00',nil%>23:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,23:00',nil%>23:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,23:00',nil%>23:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,23:00',nil%>23:00 PM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,23:00',nil%>23:00 PM</label></td>
                    </tr>
                    <tr>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '0,00:00',nil%>00:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '1,00:00',nil%>00:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '2,00:00',nil%>00:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '3,00:00',nil%>00:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '4,00:00',nil%>00:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '5,00:00',nil%>00:00 AM</label></td>
                         <td><label class="checkbox"><%=  f.check_box :available,{ :multiple => true , :checked=>false }, '6,00:00',nil%>00:00 AM</label></td>
                    </tr>
                   
                        <tr>
                            <td colspan='7'><%= f.submit "Post Availabitity", class: "button is-warning"%></td>
                        </tr>
                <% end %>
            </tbody>

        </table>
    </div>
</section>